<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    MarocanMonuments  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/visite">MaroccanMonument</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/visite">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/monuments/add">Ajouter Monuments </a>
          <li class="nav-item">
            <a class="nav-link" href="/monuments">Monuments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/add">Ajouter Utilisateurs</a>
          </li>
          <li class="nav-item" style="margin-left: 260px ;">
            <a class="btn btn-outline-dark " href="/login">Déconnexion</a>
          </li>
          
      </div>
    </nav>

  </div>
  
  <div class="container">
    <div class="container">
      <h4 class="text-center" style="margin-bottom: 40px;margin-top: 120px;">Liste des Monuments maroc</h4>
    </div>

  </div>

  <div class="container">

    <table class="table">
      <thead class="thead-light">
        <tr>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>LONGITUDE</th>
          <th>LATITUDE</th>
          <th>VILLE</th>
          <th>IMAGES</th>
          <th>Modifie</th>
          <th>Supprimer </th>
        </tr>
      </thead>
      <tbody>
        <% etudiant.forEach(function(e){ %>
          <tr>
            <td>
              <%= e.id %>
            </td>
            <td>
              <%= e.nom %>
            </td>
            <td>
              <%= e.longitude %>
            </td>
            <td>
              <%= e.latitude %>
            </td>
            <td>
              <%= e.ville %>
            </td>
            <td>
              <img
               src="<%= e.image %>" style="width: 80px;height:73px;vertical-align: middle">
            </td>

            <td>
              <a href="/monuments/edit/<%= e.id %>" class="btn btn-outline-secondary">Modifie</a>

            </td>
            <td>
              <a href="/monuments/delete/<%= e.id %>" class="btn btn-outline-danger">Supprimer</a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>






  </div>

</body>

</html>